<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<link rel="icon" href="https://o3e85j0cv.qnssl.com/static/favicon.png" type="image/x-icon">
	<link href="https://o3e85j0cv.qnssl.com/static/app.24b6744b1ad464f0015767e053b68fa8.css" rel="stylesheet">
	<title>注册</title>
	<link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
	<header class="fixed_header">
        <nav>
            <div class="nav">
                <a href="javascripts:void(0)" class="back_btn"></a>
                <h2 class="title">注册</h2>
            </div>
        </nav>
    </header>
	<div class="container mt_hd">
		<form action="/register" method="post">
			<div class="v-transition">
				<div class="weui_cells">
					<div class="weui_cell">
						<div class="weui_cell_hd">
							<label for="" class="weui_label">手机号</label>
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<input id="telephone" type="text" class="weui_input" placeholder="填写手机号，其他用户不可见" name="username" maxlength="11">
						</div>
						<div class="weui_cell_ft">
							<i id="phoneNum" class="weui_icon weui_icon_clear" style="display:none;"></i>
						</div>
					</div>
				</div>
				<div class="weui_cells">
					<div class="weui_cell">
						<div class="weui_cell_hd">
							<label for="" class="weui_label">密码</label>
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<input id="password" type="password" name="password" class="weui_input" placeholder="6-14位，建议数字、字母、符号组合">
						</div>
						<div class="weui_cell_ft">
							<i id="phone" class="weui_icon weui_icon_clear" style="display:none;"></i>
						</div>
					</div>
				</div>
				<div class="weui_cells">
					<div class="weui_cell">
						<div class="weui_cell_hd">
							<label for="" class="weui_label">重复密码</label>
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<input id="repeat-password" type="password" name="repeat-password" class="weui_input" placeholder="6-14位，建议数字、字母、符号组合">
						</div>
						<div class="weui_cell_ft">
							<i class="weui_icon weui_icon_clear" style="display:none;"></i>
						</div>
					</div>
				</div>
				<div class="weui_cells">
					<div class="weui_cell_ft">
						<input id="signup" type="submit" class="weui_btn weui_btn_primary">
					</div>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="/javascripts/zepto.min.js">
	</script>
	<script type="text/javascript" src="/javascripts/common.js">
	</script>
	<script>
	// //获取手机号 判定手机号是否为空
	// //为空的话叉号不显示；不为空显示
	//
	// //获取密码 判定密码是否为空
	// //为空的话叉号不显示；不为空显示
	//
	// //获取重复密码 判定密码是否为空
	// //为空的话叉号不显示；不为空显示
	//
	// //获取重复密码 判定重复密码和上一级密码是否一致
	// //不一致注册显示为灰 ；一致的话注册正常
	//
	$(function(){
		$('#signup').click(function() {
			//获取手机号 判定手机号是否为空
			var telephone = $.trim($('#telephone').val());
			if(telephone.length == 0) {
				alert('请输入手机号码');
				return false;
			}
			// alert(telephone);
			//获取密码 判定密码是否为空
			var passWord = $.trim($('#password').val());
			if(passWord == ""){
				alert('请输入密码');
				return false;
			}
			//获取重复密码 判定密码是否为空
			var repeatPassword = $.trim($('#repeat-password').val());

			if(repeatPassword == ""){
				alert("请输入重复密码");
				return false;
			}

			//判定重复密码和上一级密码是否一致
			if(passWord != repeatPassword){
				alert("请重新输入");
				return false;
			}
			return true;
		});
	});

		//  function sendYzm() {
		// 	 $.getJSON('/send_yzm/18146616857',{},function(result){
		// 				if(result.status =='ok'){
		// 					alert('验证码发送成功');
		// 				}else{
		// 					alert('验证码发送失败');
		// 				}
		// 	 });
		//  }
	</script>
</body>
</html>
