<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
     content="width=device-width,user-scalable=no, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0">
    <title>淘宝双12 rem 全试配rem方案</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <style>
    *{margin:0; padding:0;}
    a{text-decoration: none;color:#333;}
    /*img {
        width:2.4rem;
        height:2.4rem;
    }
    .btn{
        width:2.13291rem;
        height:0.64rem;
        background-color: #f5294c;
        line-height:0.64rem;
        color:white;
        display: block;
        text-align: center;
    }*/
    </style>
</head>
<body>
    <!-- <img src="https://placeimg.com/350/350/people/grayscale">
    <a href="#" class="btn">马上抢</a> -->
    <div class="html-content">
        <div class="item-section">
            <ul>
                <li class＝"flag">
                    <a href="#" class="figure flag-item">
                        <img src="https://placeimg.com/350/350/people/grayscale" alt="">
                    </a>
                    <div class="figcaption flat-item">
                        <div class="flag-title">
                            <a href="#" title="">Carter's1年式灰色长袖连体衣包脚爬服全棉鲸鱼男婴儿童装115G093</a>
                        </div>
                        <div class="flag-price">
                            <span>双11价</span>
                            <strong>¥299.06</strong>
                            <small>(满400减100)</small>
                        </div>
                        <div class="flag-type">
                            1小时热卖5885件
                        </div>
                        <a href="#" class="flag-btn">马上抢！</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
