body {
    background-color: #fbf9fe;
}

.back_btn {
	position: absolute;
	width: 15px;
	height: 15px;
	border:3px solid #fff;
	border-right: transparent;
	border-bottom: transparent;
	top: 50%;
	margin-top: -7.5px;
	transform: rotate(-45deg);
	left:3%;
}

.weui_grid {
	text-align:center;
	background-color:transparent;
	border:1px solid #fff;
    color:#333;
}

.weui_grid .weui_grid_title {
	font-size:20px;
	font-weight:700;

}

.weui_grid .weui_grid_price {
	font-size:18px;

}

.weui_grids + .weui_grids {
    margin-top:10px;
}

.product{
    padding-top: 10px;
}
