<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Games</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>游戏列表</h1>
    </div>
    <div class="list-group">
      <a href="/game/tiger" class="list-group-item">老虎机</a>
      <a href="/game/2048" class="list-group-item">2048</a>
      <a href="/game/flybird" class="list-group-item">flybird</a>
    </div>
</div>
</body>
</html>
