<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>豆瓣首页</title>
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/douban.css">
    </head>
    <body>
        <div class="page">
            <div id="TalionNav">
                <header class="TalionNav">
                    <div class="TalionNav-primary">
                        <a href="/">
                            <h1>豆瓣</h1>
                        </a>
                        <nav>
                            <ul>
                                <li><a href="" style="color:#2384E8;">电影</a></li>
                                <li><a href="" style="color:#9F7860;;">图书</a></li>
                                <li><a href="" style="color:#E4A813;">广播</a></li>
                                <li><a href="" style="color:#2AB8CC;">小组</a></li>
                            </ul>
                            <span></span>
                        </nav>
                    </div>
                </header>
            </div>
            <div class="card">
                <ul class="quick-nav">
                    <li><a href="">影院热映</a></li>
                    <li><a href="">来聊五块钱</a></li>
                    <li><a href="">奇葩说不如听你说</a></li>
                    <li><a href="">使用豆瓣App</a></li>
                </ul>

                <section id="recommend-feed">
                    <div>
                        <div class="feed-section">
                            <a class="feed-item" href="https://m.douban.com/note/557076080/" data-reactid=".0.0:0.1:0">
                                <div class="author" data-reactid=".0.0:0.1:0.0">
                                    <div style="position: relative; background: url(&quot;https://img3.doubanio.com/icon/u4475054-56.jpg&quot;) 50% 50% / cover no-repeat rgb(250, 250, 250);" class="avatar" data-reactid=".0.0:0.1:0.0.0">
                                        <div style="padding-top:100%;" data-reactid=".0.0:0.1:0.0.0.0"></div>
                                    </div>
                                    <span class="name" data-reactid=".0.0:0.1:0.0.1">胡子</span>
                                </div>
                                <span class="feed-label" data-reactid=".0.0:0.1:0.1">人文</span>
                                <div class="feed-content" data-reactid=".0.0:0.1:0.2">
                                    <div style="position: relative; background: url(&quot;https://qnmob.doubanio.com/view/note/large/public/p33842678.jpg?imageView2/2/q/80/w/330/h/330/format/jpg&quot;) 50% 50% / cover no-repeat rgb(250, 250, 250);" class="cover" data-reactid=".0.0:0.1:0.2.0">
                                        <div style="padding-top:100%;" data-reactid=".0.0:0.1:0.2.0.0"></div>
                                    </div>
                                    <h3 data-reactid=".0.0:0.1:0.2.1">海上信件七封</h3>
                                    <p data-reactid=".0.0:0.1:0.2.2">xxx，你好。 现在是西半球时间四月二十八日下午五点，我上船的第二十四个小时。 昨天上船后，才拍了几张...</p>
                                    <noscript data-reactid=".0.0:0.1:0.2.3"></noscript>
                                </div>
                                <div class="feed-info" >

                                    <span class="likers-count" >160</span>
                                    <span class="comment-count" >65</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
