<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>美团</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
	<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="/stylesheets/meituan/deal.css"/>
</head>
<body id="deal-detail" class="automove">
	<header class="navbar">
		<div class="nav-wrap-left">
			<a href="/meituan" class="react back">
				<i class="text-icon icon-back"></i>
			</a>
		</div>
		<span class="nav-header h1">团购详情</span>
		<div class="nav-wrap-right">
			<a href="#" id="header-collect-btn" class="react">
				<span class="nav-btn collecting">
					<i class="text-icon">☆</i>收藏
				</span>
				<span class="nav-btn collected">
					<i class="text-icon">★</i>取消收藏
				</span>
			</a><a href="#" class="react nav-dropdown-btn">
				<span class="nav-btn">
					<i class="text-icon">≋</i>导航
				</span>
			</a>
		</div>
		<div class="nav-dropdown" id="nav-dropdown">
			<ul>
				<li>
					<a href="#" class="react">
						<i class="text-icon">⍥</i>
						<space></space>
						首页
					</a>
				</li>
				<li>
					<a href="#" class="react">
						<i class="text-icon">⎋</i>
						<space></space>
						分享
					</a>
				</li>
				<li>
					<a href="#" class="react">
						<i class="text-icon">⟰</i>
						<space></space>
						首页
					</a>
				</li>
			</ul>
		</div>
	</header>
    <div class="deal" id="deal">
		<div class="list">
			<div class="album toutu">
				<img src="http://ac-pfv5xzae.clouddn.com/2ec6a7161384c8af.jpg">
				<div class="desc">
					<h1 class="title">秦云老太婆摊摊面</h1>
					<span>小面1份，提供免费WiFi</span>
				</div>
			</div>
			<dl class="list list-in">
				<dd class="dd-padding buy-price">
					<div class="price">
						<strong class="J_pricetag strong-color">4</strong>
						<span class="strong-color">元</span>
						<span style="letter-spacing:-0.02666rem" class="ms_price">门市价:6元</span>
					</div>
					<a href="" class="btn buy-btn btn-large btn-strong">立即购买</a>
				</dd>
				<ul class="campaign-tip">
					<li class="campaign">
						<span class="tag">减</span>
						<span class="longTitle">立减2元，每人限购1张</span>
					</li>
				</ul>
				<dd class="dd-padding agreement">
					<ul class="agree">
						<li class="color-ok">
							<i class="text-icon">◐</i>支持随时退款
						</li>
							<li class="color-ok">
							<i class="text-icon">✔</i>支持过期退款
						</li>
						</li>
						<li>
							<i class="text-icon">◓</i>已售617
						</li>
					</ul>
				</dd>
			</dl>
		</div>
        <dl class="list">
            <dd>
                <dl>
                    <dt>相关分类</dt>
                    <dd class="dd-padding cloud-tag">
                            <a class="tag-category" href="http://i.meituan.com/nanchang?cid=1" data-stid_b="5" gaevent="imt/deal/relativeCategory">
                                <span class="tag-title">美食</span></a>
                            <a class="tag-category" href="http://i.meituan.com/nanchang?cid=393" data-stid_b="5" gaevent="imt/deal/relativeCategory">
                                <span class="tag-title">代金券</span></a>
                            <a class="tag-category" href="http://i.meituan.com/nanchang?cid=11" data-stid_b="5" gaevent="imt/deal/relativeCategory">
                                <span class="tag-title">甜点饮品</span></a>
                            <a class="tag-category" href="http://i.meituan.com/nanchang?cid=20097" data-stid_b="5" gaevent="imt/deal/relativeCategory">
                                <span class="tag-title">生日蛋糕</span></a>
                            <a class="tag-category" href="http://i.meituan.com/nanchang?cid=17" data-stid_b="5" gaevent="imt/deal/relativeCategory">
                                <span class="tag-title">火锅</span></a>
                            <a class="tag-category" href="http://i.meituan.com/nanchang?cid=40" data-stid_b="5" gaevent="imt/deal/relativeCategory">
                                <span class="tag-title">自助餐</span></a>
                            <a class="tag-category" href="http://i.meituan.com/nanchang?cid=36" data-stid_b="5" gaevent="imt/deal/relativeCategory">
                                <span class="tag-title">小吃快餐</span></a>
                            <a class="tag-category" href="http://i.meituan.com/nanchang?cid=28" data-stid_b="5" gaevent="imt/deal/relativeCategory">
                                <span class="tag-title">日韩料理</span></a>
                            <a class="tag-category" href="http://i.meituan.com/nanchang?cid=35" data-stid_b="5" gaevent="imt/deal/relativeCategory">
                                <span class="tag-title">西餐</span></a>
                            <a class="tag-category" href="http://i.meituan.com/nanchang?cid=395" data-stid_b="5" gaevent="imt/deal/relativeCategory">
                                <span class="tag-title">聚餐宴请</span></a>
                    </dd>
                </dl>
            </dd>
        </dl>
        <div class="dddd">
        <dt gaevent="imt/deal/terms">购买须知</dt>
        <dd class="dd-padding">
            <ul>
                <li>
                    <div class="tip-title">有效期</div>
                    <div class="tip-des">2016.3.18 至 2016.6.17（周末、法定节假日通用）</div>
                </li>
                <li>
                    <div class="tip-title">使用时间</div>
                    <div class="tip-des">美团券24小时可用</div>
                </li>
                <li>
                    <div class="tip-title">使用规则</div>
                    <ul class="ul">
                        <li>无需预约，消费高峰时可能需要等位</li>
                        <li>可叠加使用
                            不兑现、不找零</li>
                        <li>店内无包间</li>
                        <li>堂食外带均可，可免费打包</li>
                        <li>团购用户不可同时享受商家其他优惠</li>
                    </ul>
                </li>
            </ul>
        </dd>
    </div>
    <script src="//cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
    <script>
    $('.nav-dropdown-btn').click(function() {
        $('.nav-dropdown').toggleClass('active');
    });
    </script>
</body>
</html>
